{"openapi":"3.0.0","info":{"title":"MonitorManagementClient","version":"2017-05-01-preview","x-apisguru-categories":["cloud"],"x-logo":{"url":"https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png"},"x-ms-code-generation-settings":{"name":"MonitorManagementClient"},"x-origin":[{"format":"swagger","url":"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/subscriptionDiagnosticsSettings_API.json","version":"2.0"}],"x-providerName":"azure.com","x-serviceName":"monitor-subscriptionDiagnosticsSettings_API","x-tags":["Azure","Microsoft"]},"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/microsoft.insights/diagnosticSettings":{"get":{"description":"Gets the active subscription diagnostic settings list for the specified subscriptionId.","operationId":"SubscriptionDiagnosticSettings_List","parameters":[{"$ref":"#/components/parameters/SubscriptionIdParameter"},{"$ref":"#/components/parameters/ApiVersionParameter"}],"responses":{"200":{"description":"Successful request to get more information about subscription diagnostic setting","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionDiagnosticSettingsResourceCollection"},"examples":{"Gets the subscription diagnostic setting":{"$ref":"#/components/examples/Gets_the_subscription_diagnostic_setting"}}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"tags":["SubscriptionDiagnosticSettings"]}},"/subscriptions/{subscriptionId}/providers/microsoft.insights/diagnosticSettings/{name}":{"delete":{"description":"Deletes existing subscription diagnostic settings for the specified resource.","operationId":"SubscriptionDiagnosticSettings_Delete","parameters":[{"$ref":"#/components/parameters/SubscriptionIdParameter"},{"$ref":"#/components/parameters/ApiVersionParameter"},{"$ref":"#/components/parameters/NameParameter"}],"responses":{"200":{"description":"Successful request to remove a subscription diagnostic setting"},"204":{"description":"Successful request to remove a subscription diagnostic setting"},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"tags":["SubscriptionDiagnosticSettings"]},"get":{"description":"Gets the active subscription diagnostic settings for the specified resource.","operationId":"SubscriptionDiagnosticSettings_Get","parameters":[{"$ref":"#/components/parameters/SubscriptionIdParameter"},{"$ref":"#/components/parameters/ApiVersionParameter"},{"$ref":"#/components/parameters/NameParameter"}],"responses":{"200":{"description":"Successful request to get more information about diagnostic setting.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionDiagnosticSettingsResource"},"examples":{"Gets the subscription diagnostic setting":{"$ref":"#/components/examples/Gets_the_subscription_diagnostic_setting"}}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"tags":["SubscriptionDiagnosticSettings"]},"put":{"description":"Creates or updates subscription diagnostic settings for the specified resource.","operationId":"SubscriptionDiagnosticSettings_CreateOrUpdate","parameters":[{"$ref":"#/components/parameters/SubscriptionIdParameter"},{"$ref":"#/components/parameters/ApiVersionParameter"},{"$ref":"#/components/parameters/NameParameter"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionDiagnosticSettingsResource"}}},"description":"Parameters supplied to the operation.","required":true},"responses":{"200":{"description":"Successful request to create a subscription diagnostic setting","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionDiagnosticSettingsResource"},"examples":{"Creates or Updates the subscription diagnostic setting":{"$ref":"#/components/examples/Creates_or_Updates_the_subscription_diagnostic_setting"}}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"tags":["SubscriptionDiagnosticSettings"]}}},"servers":[{"url":"https://management.azure.com"}],"components":{"examples":{"Gets_the_subscription_diagnostic_setting":{"value":{"id":"subscriptions/fb9f25f9-5785-4510-a38f-a62f188eb9f8/providers/AzureResourceManager/diagnosticSettings/ds4","location":"global","name":"ds4","properties":{"eventHubAuthorizationRuleId":"/subscriptions/fb9f25f9-5785-4510-a38f-a62f188eb9f8/resourceGroups/apptest/providers/microsoft.eventhub/namespaces/mynamespace/eventhubs/myeventhub/authorizationrules/myrule","logs":[{"category":"Security","enabled":true},{"category":"Administrative","enabled":true},{"category":"ServiceHealth","enabled":true},{"category":"Alert","enabled":true},{"category":"Recommendation","enabled":true},{"category":"Policy","enabled":true},{"category":"Autoscale","enabled":true},{"category":"ResourceHealth","enabled":true}],"storageAccountId":"/subscriptions/fb9f25f9-5785-4510-a38f-a62f188eb9f8/resourceGroups/apptest/providers/Microsoft.Storage/storageAccounts/appteststorage1","workspaceId":"/subscriptions/fb9f25f9-5785-4510-a38f-a62f188eb9f8/resourceGroups/apptest/providers/Microsoft.OperationalInsights/workspaces/test1"}}},"Creates_or_Updates_the_subscription_diagnostic_setting":{"value":{"id":"subscriptions/fb9f25f9-5785-4510-a38f-a62f188eb9f8/providers/AzureResourceManager/diagnosticSettings/ds4","location":"global","name":"ds4","properties":{"eventHubAuthorizationRuleId":"/subscriptions/fb9f25f9-5785-4510-a38f-a62f188eb9f8/resourceGroups/apptest/providers/microsoft.eventhub/namespaces/mynamespace/eventhubs/myeventhub/authorizationrules/myrule","logs":[{"category":"Security","enabled":true},{"category":"Administrative","enabled":true},{"category":"ServiceHealth","enabled":true},{"category":"Alert","enabled":true},{"category":"Recommendation","enabled":true},{"category":"Policy","enabled":true},{"category":"Autoscale","enabled":true},{"category":"ResourceHealth","enabled":true}],"storageAccountId":"/subscriptions/fb9f25f9-5785-4510-a38f-a62f188eb9f8/resourceGroups/apptest/providers/Microsoft.Storage/storageAccounts/appteststorage1","workspaceId":"/subscriptions/fb9f25f9-5785-4510-a38f-a62f188eb9f8/resourceGroups/apptest/providers/Microsoft.OperationalInsights/workspaces/test1"}}}},"parameters":{"ApiVersionParameter":{"description":"Client Api Version.","in":"query","name":"api-version","required":true,"schema":{"type":"string"},"examples":{"Gets the subscription diagnostic setting":{"value":"2017-05-01-preview"},"Deletes the subscription diagnostic setting":{"value":"2017-05-01-preview"},"Creates or Updates the subscription diagnostic setting":{"value":"2017-05-01-preview"}}},"NameParameter":{"description":"The name of the diagnostic setting.","in":"path","name":"name","required":true,"x-ms-parameter-location":"method","schema":{"type":"string"},"examples":{"Deletes the subscription diagnostic setting":{"value":"ds4"},"Gets the subscription diagnostic setting":{"value":"mysetting"},"Creates or Updates the subscription diagnostic setting":{"value":"ds4"}}},"SubscriptionIdParameter":{"description":"The subscription id.","in":"path","name":"subscriptionId","required":true,"x-ms-parameter-location":"method","x-ms-skip-url-encoding":true,"schema":{"type":"string"},"examples":{"Gets the subscription diagnostic setting":{"value":"fb9f25f9-5785-4510-a38f-a62f188eb9f8"},"Deletes the subscription diagnostic setting":{"value":"1a66ce04-b633-4a0b-b2bc-a912ec8986a6"},"Creates or Updates the subscription diagnostic setting":{"value":"fb9f25f9-5785-4510-a38f-a62f188eb9f8"}}}},"securitySchemes":{"azure_auth":{"description":"Azure Active Directory OAuth2 Flow","type":"oauth2","flows":{"implicit":{"authorizationUrl":"https://login.microsoftonline.com/common/oauth2/authorize","scopes":{"user_impersonation":"impersonate your user account"}}}}},"schemas":{"ErrorResponse":{"description":"Describes the format of Error response.","properties":{"code":{"description":"Error code","type":"string"},"message":{"description":"Error message indicating why the operation failed.","type":"string"}},"type":"object"},"SubscriptionDiagnosticSettings":{"description":"The subscription diagnostic settings.","properties":{"eventHubAuthorizationRuleId":{"description":"The resource Id for the event hub authorization rule.","type":"string"},"eventHubName":{"description":"The name of the event hub. If none is specified, the default event hub will be selected.","type":"string"},"logs":{"description":"The list of logs settings.","items":{"$ref":"#/components/schemas/SubscriptionLogSettings"},"type":"array"},"serviceBusRuleId":{"description":"The service bus rule Id of the diagnostic setting. This is here to maintain backwards compatibility.","type":"string"},"storageAccountId":{"description":"The resource ID of the storage account to which you would like to send Diagnostic Logs.","type":"string"},"workspaceId":{"description":"The full ARM resource ID of the Log Analytics workspace to which you would like to send Diagnostic Logs. Example: /subscriptions/4b9e8510-67ab-4e9a-95a9-e2f1e570ea9c/resourceGroups/insights-integration/providers/Microsoft.OperationalInsights/workspaces/viruela2","type":"string"}}},"SubscriptionDiagnosticSettingsResource":{"allOf":[{"$ref":"#/components/schemas/SubscriptionProxyOnlyResource"}],"description":"The subscription diagnostic setting resource.","properties":{"properties":{"$ref":"#/components/schemas/SubscriptionDiagnosticSettings"}},"type":"object"},"SubscriptionDiagnosticSettingsResourceCollection":{"description":"Represents a collection of subscription diagnostic settings resources.","properties":{"value":{"description":"The collection of subscription diagnostic settings resources.","items":{"$ref":"#/components/schemas/SubscriptionDiagnosticSettingsResource"},"type":"array"}}},"SubscriptionLogSettings":{"description":"Part of Subscription diagnostic setting. Specifies the settings for a particular log.","properties":{"category":{"description":"Name of a Subscription Diagnostic Log category for a resource type this setting is applied to.","type":"string"},"enabled":{"description":"a value indicating whether this log is enabled.","type":"boolean"}},"required":["enabled"]},"SubscriptionProxyOnlyResource":{"description":"A proxy only azure resource object","properties":{"id":{"description":"Azure resource Id","readOnly":true,"type":"string"},"location":{"description":"Location of the resource","type":"string"},"name":{"description":"Azure resource name","readOnly":true,"type":"string"},"type":{"description":"Azure resource type","readOnly":true,"type":"string"}},"x-ms-azure-resource":true}}}}